extends layout

block scripts
  script(src='/js/index.min.js')

block content
  .parallax-container#section1
    .parallax
      img(src='img/getting_married.jpg')
    .text.center
      h5 We are getting married!
      h6 Sunday, May 22, 2016
      h6 5pm - 1pm
  .parallax-container(style={height: '400px'})
    .parallax
      img(src='img/tulips.jpg')

