extends layout

block scripts
  script(src='/js/index.min.js')

block content

  .parallax-container#section1
    .parallax#when
      img(src='img/getting_married.png')
    .text.center
      h5 We are getting married!
      h6 Sunday, May 22, 2016
      h6 5pm - 11pm

  .container#where
    h1.center Location
    .divider
    .row
      .col.s12.m6
        h5.center Newport Vineyards
        p.center
          | 909 East Main Rd. (Rte 138)
          br
          | Middletown, RI 02842
        p.center(style={'font-size': '15px', 'font-weight': '100'})
          | Situated amongst 50-acres and 15 minutes from downtown Newport,
          | the vineyard offers ample parking, is easily accessible from Newport
          | or Providence, and is just over an hour from Boston and 3.5 hours
          | from New York City.
        div(style={'text-align': 'center'})
          a.btn.waves-effect.waves-light(href='https://goo.gl/maps/DtcYYnUE7En', target='_blank')
            | Map
            i.material-icons.left map
          span &nbsp &nbsp
          a.btn.waves-effect.waves-light(href='http://www.newportvineyards.com', target='_blank') Website
            i.material-icons.right.mdi-navigation-arrow-forward
        br

      .col.s12.m6
        h5.center Weather
        .col.s6
          div.center Current
          div.center #{temps.current}°F
        .col.s6
          div.center On The Day
          div.center #{temps.future}°F

  .parallax-container#section2
    .parallax
      img(src='img/newport-brix.jpg')

  .container#newport
    h1.center Newport
    .divider(style={'margin-top': '30px'})
    .row
      h5.center Arriving
      .col.s12.m6.center
        i.material-icons airplanemode_active
        p Fly
      .col.s12.m6.center
        i.material-icons directions_car
        p Drive
    .divider(style={'margin-top': '30px'})
    .row
      h5.center Staying
      p.center Something something about hotel options
      .row.center
        .col.s12.m6
          | Hotel 1 description and reservation code
          .br
          a.btn Link
        .col.s12.m6
          | Hotel1 Img
      .row.center
        .col.s12.m6
          | Hotel 2 description and reservation code
          .br
          a.btn Link
        .col.s12.m6
          | Hotel2 Img

  .parallax-container#section3
    .parallax
      img(src='img/tulips.jpg')

  .container#weddingday
    h1.center Wedding Day
    .divider(style={'margin-bottom': '30px'})
    .row.center
      h5 Transportation
      .col.s12.m6
        i.material-icons directions_bus
        p Shuttle Info
      .col.s12.m6
        i.material-icons local_taxi
        p Uber / Lyft / Taxi Info
      .br &nbsp
      a.btn LARGE RSVP
  .modal#modalrsvp
    .modal-content
      h4 RSVP
      p Invitations will be sent out in early March.
    .modal-footer
      a.modal-action.modal-close.waves-effect.waves-red.btn-flat(href='#!') OK

  footer.page-footer
    .footer-copyright
      .container
        small.right © 2015 stephandkon.com


