extends layout

block scripts
  script(src='/js/index.min.js')

block content
  .container.center
    .row
      .col.s12
        h2= title
    .row
      .col.s8(style={background: '#00aa00', height: '200px'})
        p Image 1
        p Parallax
      .col.s4
        p Welcome to #{title}
        .btn-large.waves-effect Do Stuff
    .row
      .col.s4
        p Some text
      .col.s8(style={background: '#00aa00', height: '200px'})
        p Image 2
        p Parallax
    .row
      .col.s12(style={background: '#ffff00', height: '200px'})
        p Store / Timeline with Carousel

