doctype html
html
  head
    title= title
    link(rel="stylesheet", href="http://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css")
    script(type='text/javascript' src='http://code.jquery.com/jquery.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js")
    link(rel='stylesheet', href='/css/style.min.css')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block scripts
  body
    .navbar-fixed
      nav.light-blue
        .nav-wrapper
          a(href="", class="brand-logo left") Steph + Kon
          ul.right
            li: a(href="#") When
            li: a(href="#") Where
    block content
