doctype html

- var rsvpTitle = "RSVP"
- var whenTitle = "DATE"
- var whereTitle = "LOCATION"
- var newportTitle = "NEWPORT"
- var hotelsTitle = "HOTELS"
- var weddingDayTitle = "THE DAY"

html
  head
    title= title
    link(rel="stylesheet", href="http://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css")
    script(type='text/javascript' src='http://code.jquery.com/jquery.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js")
    script(src="js/smooth-scroll.js")
    script(src='https://use.fontawesome.com/144793f281.js')
    link(rel='stylesheet', href='/css/style.min.css')
    link( href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700', rel='stylesheet', type='text/css')

    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")

    block scripts

  body
    .navbar-fixed
      nav.white
        .nav-wrapper.container
          a.button-collapse.hide-on-med-and-up(href="#", data-activates="mobile-menu")
            i.material-icons menu
          a.brand-logo(href="/")
            |Steph
            img#favicon(src='favicon.ico')
            |Kon
          ul.right.hide-on-small-only
            li: a(data-scroll, href="/#weddingday", style={'color': 'rgb(216, 77, 84)'})= weddingDayTitle
            li: a(data-scroll, href="/#where")= whereTitle
            li: a(data-scroll, href="/#newport")= newportTitle
            li: a(data-scroll, href="/#staying")= hotelsTitle
            li: a.modal-trigger(href="#modalrsvp")= rsvpTitle
          ul.side-nav#mobile-menu
            li: a(data-scroll, href="/#weddingday", style={'color': 'rgb(216, 77, 84)'})= weddingDayTitle
            li: a(data-scroll, href="/#where")= whereTitle
            li: a(data-scroll, href="/#newport")= newportTitle
            li: a(data-scroll, href="/#staying")= hotelsTitle
            li: a(href="rsvp")= rsvpTitle

    block content

    if env != "test"
      include google_analytics
