.modal-content
  .row
    h5 RSVP Instructions
    .divider
    ul
      li.info-text #[i.material-icons.prefix adjust] Please RSVP by #[b April 20th], that's when final count to catering is due.Replies after #[b April 20th], will not be guaranteed a meal.
      li.info-text #[i.material-icons.prefix adjust] If you need to change your response, just submit a new form.
      li.info-text #[i.material-icons.prefix adjust] You may RSVP as many times as you'd like, only the most recent submission will count.
      li.info-text #[i.material-icons.prefix adjust] You may RSVP for other people.
      li.info-text #[i.material-icons.prefix adjust] If you have questions, contact Steph, Kon, or our respective parents.
  .row
    form.col.s12#rsvp-form(method="get", action="")
      .row.center#coming-group
        input.with-gap(name="rsvp_group", type="radio", value="yes", id="coming_yes", required)
        label(for="coming_yes") I'm coming
        span &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        input.with-gap(name="rsvp_group", type="radio", value="no", id="coming_no")
        label(for="coming_no") Can't make it
      .row
        .input-field.col.m6.s12
          i.material-icons.prefix account_circle
          input(id="first_name", name="first_name", type="text", class="validate", required)
          label.text-field-label(for="first_name") First Name
        .input-field.col.m6.s12
          input(id="last_name", name="last_name", type="text", class="validate", required)
          label.text-field-label(for="last_name") Last Name
      .row
        .input-field.col.m4.s12
          i.material-icons.prefix exposure_plus_1
          input(id="bringing_guest", type="checkbox", class="filled-in")
          label(for="bringing_guest") Guest
        .input-field.col.m8.s12
          input(id="guest_name", type="text", class="validate", disabled)
          label(for="guest_name") Guest Name (Optional)
      .row
        p Suggest a song
        .col.s4
          .input-field.col.s2(style={"padding-left": "0"})
            i.material-icons.prefix music_note
          .input-field.col.s10
            select(id="music_type")
              option(value="1") Cocktail Hour
              option(value="2") Dinner
              option(value="3" selected) Dancing
            label(for="music_type") Style
        .input-field.col.s8
          input(id="song1", type="text", class="validate")
          label(for="song1") Artist - Title
      .row
        .input-field.col.s12
          i.material-icons.prefix mode_edit
          textarea(id="message", class="materialize-textarea")
          label(for="message") Message (Optional)
      .row
        button.btn-flat.right(type="submit", name="action") Submit
        button.modal-action.modal-close.waves-effect.waves-red.btn-flat Cancel
