extends layout

block scripts
    script(src='/js/index.min.js')

block content
  .row
    br
    br
    .col.s2
      .text &nbsp
    .col.s8
      .row.center
        input(name="group1", type="radio", id="coming_yes")
        label(for="coming_yes") I'm coming
        span &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        input(name="group1", type="radio", id="coming_no")
        label(for="coming_no") Can't make it
      .row
        .input-field.col.m6.s12
          i.material-icons.prefix account_circle
          input(id="first_name", type="text", class="validate")
          label(for="first_name") First Name
        .input-field.col.m6.s12
          input(id="last_name", type="text", class="validate")
          label(for="last_name") Last Name
      .row
        .input-field.col.m4.s12
          i.material-icons.prefix exposure_plus_1
          input(id="bringing_guest", type="checkbox", class="filled-in")
          label(for="bringing_guest") Bringing a guest
        .input-field.col.m8.s12
          input(id="guest_first_name", type="text", class="validate")
          label(for="guest_first_name") Guest Name (Optional)
      .row
        .col.s4
          .input-field.col.s2(style={"padding-left": "0"})
            i.material-icons.prefix music_note
          .input-field.col.s10
            select(id="music_type")
              option(value="1") Cocktail Hour
              option(value="2") Dinner
              option(value="3" selected) Party
            label(for="music_type") Suggest a song for
        .input-field.col.s8
          input(id="song1", type="text", class="validate")
          label(for="song1") Artist - Title
      .row
        .input-field.col.s12
          i.material-icons.prefix mode_edit
          textarea(id="message", class="materialize-textarea")
          label(for="message") Message (Optional)
      .row
        a.btn-flat.right Submit
    .col.s2
