div#rsvp-body
  .row.center
    h5 RSVP Closed (deadline was April 15th)
    ul
      li.info-text(style={'color' : 'red'}) #[i.material-icons.prefix adjust] If you can no longer attend, please submit form bellow.
      li.info-text #[i.material-icons.prefix adjust] If you have questions, contact Steph, Kon, or our respective parents.
    .divider
  .row
    form.col.s12#rsvp-form
      .row.center#coming-group
        input.with-gap.center(name="rsvp_group", type="radio", value="no", id="coming_no", required)
        label.center(for="coming_no") Can't make it
      .row
        .col.m1.s12
          i.material-icons.prefix account_circle
        .input-field.col.m5.s12
          input(id="first_name", name="first_name", type="text", class="validate", required)
          label.text-field-label(for="first_name") First Name
        .input-field.col.m6.s12
          input(id="last_name", name="last_name", type="text", class="validate", required)
          label.text-field-label(for="last_name") Last Name
      .row
        .col.m1.s12
          i.material-icons.prefix mode_edit
        .input-field.col.m11.s12
          textarea(id="message", name="message", class="materialize-textarea")
          label(for="message") Message (Optional)
      .row
        button.btn.btn-flat.waves-effect.waves-light.right(type="submit") Submit
        button.btn.modal-action.modal-close.waves-effect.waves-light.btn-flat.cancel#rsvp-cancel(type='reset') Cancel

div#rsvp-submitted.hide
  .row.center
    p
    h4 Thank you for submitting your response.
    p If you need to change or update your answer, feel free to fill out another RSVP.
    p Only the last submitted RSVP will count.